# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\CHICKING\FRONT-END\[GEEKBreins]\IIchetverty_js\modul_two\lesson_7_djyn\public\public\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
